In [24]:
import pandas as pd
import numpy as np
import hvplot.pandas

In [51]:
df = pd.read_csv('./data/names_df.csv')
df.head()

            Name Sex   Number   Year
0       --Mary--   F  L007065  Y1880
1       --Anna--   F  L002604  Y1880
2       --Emma--   F  L002003  Y1880
3  --Elizabeth--   F  L001939  Y1880
4     --Minnie--   F  L001746  Y1880

In [52]:
df['Name'] = df.Name.str.strip('--')
df['Number'] = df.Number.str.strip('L00').astype(np.int)
df['Year'] = df.Year.str.strip('Y').astype(np.int)
# 'Female' == 0, 'Male' == 1
#df['Sex'] = df.Sex.apply(lambda x: 0 if x=='F' else 1)

In [53]:
df.groupby(['Year', 'Sex']).count().head()

          Name  Number
Year Sex
88   F       1       1
1880 F     942     942
     M    1058    1058
1881 F     938     938
     M     997     997

In [56]:
df[df.Year == 88]

       Name Sex  Number  Year
17502  Mary   F   11754    88

In [55]:
idx = df[df.Year == 88].index[0]
df.at[idx-1, 'Year'], df.at[idx+1, 'Year']

(1887, 1888)

In [62]:
samp = df[df.Year == 1888]
samp[samp.Name == 'Mary']

       Name Sex  Number  Year
19223  Mary   M       5  1888

In [63]:
df.at[idx, 'Year'] = 1888

In [95]:
grouped = df.groupby(['Sex', 'Year']).count()
grouped.head()

          Name  Number
Sex Year
F   1880   942     942
    1881   938     938
    1882  1028    1028
    1883  1054    1054
    1884  1172    1172

In [77]:
df.groupby(['Year', 'Sex']).count().head()

          Name  Number
Year Sex
1880 F     942     942
     M    1058    1058
1881 F     938     938
     M     997     997
1882 F    1028    1028

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1924665 entries, 0 to 1924664
Data columns (total 4 columns):
Name      object
Sex       object
Number    int64
Year      int64
dtypes: int64(2), object(2)
memory usage: 58.7+ MB

In [101]:
df.head()

        Name Sex  Number  Year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

### Most common names
1.	What was the most common male name in 1989?

In [185]:
df[(df.Year == 1989) & (df.Sex == 'M')].iloc[0, :].Name

'Michael'

2.	What was the most common female name in 1989?

In [186]:
df[(df.Year == 1989) & (df.Sex == 'F')].iloc[0, :].Name

'Jessica'

3.	Write code to output a list of the most common male names by year.

In [126]:
def most_common_male_names(year, n=10):
    s = df[(df.Year == int(year)) & (df.Sex == 'M')].Name[:n]
    return list(s)

In [128]:
most_common_male_names(1990, 15)

['Michael',
 'Christopher',
 'Matthew',
 'Joshua',
 'Daniel',
 'David',
 'Andrew',
 'James',
 'Justin',
 'Joseph',
 'Ryan',
 'John',
 'Robert',
 'Nicholas',
 'Anthony']

4.	Write code to output a list of the most common female names by year.

In [129]:
def most_common_female_names(year, n=10):
    s = df[(df.Year == int(year)) & (df.Sex == 'F')].Name[:n]
    return list(s)

In [132]:
most_common_female_names(1994)

['Jessica',
 'Ashley',
 'Emily',
 'Samantha',
 'Sarah',
 'Taylor',
 'Brittany',
 'Amanda',
 'Elizabeth',
 'Megan']

### Name diversity
5.	How many unique names are there in the entire dataset?

In [134]:
df.Name.nunique()

97311

6.	How many unique male names were there in 1989?

In [138]:
df[(df.Year == 1989) & (df.Sex == 'M')].Name.nunique()

9227

7.	How many unique female names were there in 1989?

In [139]:
df[(df.Year == 1989) & (df.Sex == 'F')].Name.nunique()

14546

8.	How many unique names (male and female) were there in 1989?

In [142]:
df[(df.Year == 1989)].Name.nunique()

21621

9.	Why is the number of unique names in 1989 (problem #8) smaller than the sum of unique male names (problem #6) and unique female names (problem #7) for that year?

In [187]:
M89 = df[(df.Year == 1989) & (df.Sex == 'M')].Name
F89 = df[(df.Year == 1989) & (df.Sex == 'F')].Name
T89 = df[(df.Year == 1989)].Name

print('Unique Names - M+F: ', M89.nunique() + F89.nunique(), '\n' + 'Unique Names - All: ', T89.nunique())

Unique Names - M+F:  23773
Unique Names - All:  21621

In [184]:
common_names = (set(M89) & set(F89) & set(T89))
print(len(common_names))
print(list(common_names)[:12])

2152
['Jami', 'Dominick', 'Beryl', 'Monet', 'Simeon', 'Nova', 'Kelby', 'Christen', 'Hayden', 'Whitley', 'Antonia', 'Natale']

Some males and females born in 1989 share the same names.

10.	Write code to output a list of names that show up in both the male and female groups in 1989. How many names show up in both groups for that year?

In [199]:
def gender_neutral_names(year=1989):
    M89 = df[(df.Year == 1989) & (df.Sex == 'M')].Name
    F89 = df[(df.Year == 1989) & (df.Sex == 'F')].Name
    shared = list(set(M89) & set(F89))
    return shared

In [200]:
n = gender_neutral_names(1989)
len(n)

2152

11.	Show how the answer to problem #10 helps explain the answer to problem #9.

In [201]:
common_names = (set(M89) & set(F89) & set(T89))
print(len(common_names))
print(list(common_names)[:12])

2152
['Jami', 'Dominick', 'Beryl', 'Monet', 'Simeon', 'Nova', 'Kelby', 'Christen', 'Hayden', 'Whitley', 'Antonia', 'Natale']

### Unisex names
12.	Provide a list of the most common unisex names through 2017. Describe and justify your criteria for a name to be considered unisex. What other criteria could you use for a name to be unisex?

In [223]:
from collections import Counter

countr = Counter()
for year in df.Year.unique():
    names = gender_neutral_names(year)
    for name in names:
        countr[name] += 1

In [224]:
countr

Counter({'Jami': 138,
         'Dominick': 138,
         'Beryl': 138,
         'Monet': 138,
         'Simeon': 138,
         'Nova': 138,
         'Kelby': 138,
         'Christen': 138,
         'Hayden': 138,
         'Whitley': 138,
         'Antonia': 138,
         'Natale': 138,
         'Brennan': 138,
         'Houston': 138,
         'Trinidad': 138,
         'Mallory': 138,
         'Timothy': 138,
         'Kelechi': 138,
         'Lucy': 138,
         'Young': 138,
         'Kristan': 138,
         'Camerin': 138,
         'Ivory': 138,
         'Tiara': 138,
         'Charlie': 138,
         'Jovani': 138,
         'Taren': 138,
         'Chesley': 138,
         'Dany': 138,
         'Valentine': 138,
         'Pamela': 138,
         'Van': 138,
         'Seth': 138,
         'Jessica': 138,
         'Elyse': 138,
         'Alexie': 138,
         'Brandis': 138,
         'Tanis': 138,
         'Spenser': 138,
         'Ronald': 138,
         'Julian': 138,
         'Sky': 138,
         'Nicky': 138,
         'Chong': 138,
         'Tori': 138,
         'Gale': 138,
         'Daryl': 138,
         'Marta': 138,
         'Craig': 138,
         'Lawrence': 138,
         'Katie': 138,
         'Charon': 138,
         'Jere': 138,
         'Cori': 138,
         'Cary': 138,
         'Blaze': 138,
         'Rene': 138,
         'Marquis': 138,
         'Eun': 138,
         'Cameron': 138,
         'Juana': 138,
         'Dawn': 138,
         'Kristina': 138,
         'Nickolas': 138,
         'Nigel': 138,
         'Marcell': 138,
         'Rebecca': 138,
         'Kyle': 138,
         'Riki': 138,
         'Elan': 138,
         'Dayna': 138,
         'Mirna': 138,
         'Reagan': 138,
         'Alicia': 138,
         'Karen': 138,
         'Adi': 138,
         'Andra': 138,
         'Karyn': 138,
         'Kiana': 138,
         'Lakeisha': 138,
         'Michelle': 138,
         'Beatrice': 138,
         'Arron': 138,
         'Randi': 138,
         'Patricia': 138,
         'Natalie': 138,
         'Shoua': 138,
         'Noel': 138,
         'Armando': 138,
         'Codey': 138,
         'Dakotah': 138,
         'Kelcy': 138,
         'Darren': 138,
         'Shelly': 138,
         'Deandre': 138,
         'Kacy': 138,
         'Quin': 138,
         'Marlene': 138,
         'Jacey': 138,
         'Jane': 138,
         'Johnathon': 138,
         'Nora': 138,
         'Aiden': 138,
         'Jaden': 138,
         'Lydia': 138,
         'Bridget': 138,
         'Shontel': 138,
         'Liberty': 138,
         'Marisol': 138,
         'Laren': 138,
         'Pat': 138,
         'Ramsey': 138,
         'Christopher': 138,
         'Steven': 138,
         'Uchenna': 138,
         'Jamee': 138,
         'Autumn': 138,
         'Dean': 138,
         'Chantel': 138,
         'Porsha': 138,
         'Gabriel': 138,
         'Kelsy': 138,
         'Megan': 138,
         'Alexx': 138,
         'Carrol': 138,
         'Mitchell': 138,
         'Rodolfo': 138,
         'Allan': 138,
         'Tommy': 138,
         'Adriane': 138,
         'Maurice': 138,
         'Stacey': 138,
         'Sloane': 138,
         'Alfredo': 138,
         'Sonnie': 138,
         'Ira': 138,
         'Colin': 138,
         'Marlen': 138,
         'Barrie': 138,
         'Ines': 138,
         'Jovany': 138,
         'Ronni': 138,
         'Ricardo': 138,
         'Jeffrey': 138,
         'Douglas': 138,
         'Lorraine': 138,
         'Jaquay': 138,
         'Ling': 138,
         'Rylee': 138,
         'Lonnie': 138,
         'Lorenza': 138,
         'Maria': 138,
         'Isaiah': 138,
         'Sterling': 138,
         'Adriel': 138,
         'Trae': 138,
         'Ericka': 138,
         'Victor': 138,
         'Tremaine': 138,
         'Kc': 138,
         'Rashad': 138,
         'Raine': 138,
         'Mika': 138,
         'Mirza': 138,
         'Jessi': 138,
         'Arin': 138,
         'Russell': 138,
         'Phi': 138,
         'Lorren': 138,
         'Macy': 138,
         'Khristian': 138,
         'Travis': 138,
         'Marley': 138,
         'Reid': 138,
         'Shantel': 138,
         'Ellison': 138,
         'Lamont': 138,
         'Breck': 138,
         'Darnell': 138,
         'Dionna': 138,
         'Marina': 138,
         'Brittney': 138,
         'Patrice': 138,
         'Sade': 138,
         'Dena': 138,
         'Landy': 138,
         'Meagan': 138,
         'Shawn': 138,
         'Randy': 138,
         'Lynden': 138,
         'Kerry': 138,
         'Thai': 138,
         'Kala': 138,
         'Hartley': 138,
         'Scottie': 138,
         'Kylee': 138,
         'Lindsay': 138,
         'Angelo': 138,
         'Trevor': 138,
         'Tamika': 138,
         'Courtny': 138,
         'Blayne': 138,
         'Christine': 138,
         'Angelica': 138,
         'Misha': 138,
         'Marquette': 138,
         'Devonne': 138,
         'Remi': 138,
         'Darrian': 138,
         'Arlen': 138,
         'Lanier': 138,
         'Shandon': 138,
         'Alanna': 138,
         'Kaylan': 138,
         'Kia': 138,
         'Demetrius': 138,
         'Jentry': 138,
         'Marlin': 138,
         'Claudia': 138,
         'Johnathan': 138,
         'Carrington': 138,
         'Darryl': 138,
         'Nickie': 138,
         'Felicia': 138,
         'Carlos': 138,
         'Daniell': 138,
         'Daria': 138,
         'Stormy': 138,
         'Johnny': 138,
         'Jillian': 138,
         'Deja': 138,
         'Abriel': 138,
         'Jenna': 138,
         'Nadia': 138,
         'Mariana': 138,
         'Kurt': 138,
         'Schuyler': 138,
         'Jaycee': 138,
         'Alana': 138,
         'Chan': 138,
         'Stevie': 138,
         'Ara': 138,
         'Darcel': 138,
         'Kalle': 138,
         'Min': 138,
         'Carly': 138,
         'Caylan': 138,
         'Randall': 138,
         'Addison': 138,
         'Loran': 138,
         'Landis': 138,
         'Deavon': 138,
         'Anthony': 138,
         'Kristine': 138,
         'Robyn': 138,
         'Holly': 138,
         'Silver': 138,
         'Vincent': 138,
         'Larkin': 138,
         'Brittan': 138,
         'Kenyata': 138,
         'Mandy': 138,
         'Regan': 138,
         'Heidi': 138,
         'Akia': 138,
         'Keshia': 138,
         'Demetrious': 138,
         'Francesca': 138,
         'Morgan': 138,
         'Michell': 138,
         'Lois': 138,
         'Doris': 138,
         'Crystal': 138,
         'Tatiana': 138,
         'Janel': 138,
         'Codee': 138,
         'Shai': 138,
         'Shadow': 138,
         'Deni': 138,
         'Little': 138,
         'Jaymie': 138,
         'Nicole': 138,
         'Sevan': 138,
         'Cindy': 138,
         'Dale': 138,
         'Asha': 138,
         'Trey': 138,
         'Gary': 138,
         'Kim': 138,
         'Tabitha': 138,
         'Bari': 138,
         'Dara': 138,
         'Aaron': 138,
         'Frederick': 138,
         'Jean': 138,
         'Glenn': 138,
         'Moriah': 138,
         'Latonya': 138,
         'Brittany': 138,
         'Kristin': 138,
         'Jon': 138,
         'Janee': 138,
         'Destin': 138,
         'Dominique': 138,
         'Kellan': 138,
         'Kao': 138,
         'Finley': 138,
         'Dajon': 138,
         'Terrell': 138,
         'Aki': 138,
         'Leah': 138,
         'Shamir': 138,
         'Deshaun': 138,
         'Yamil': 138,
         'Callie': 138,
         'Alice': 138,
         'Shiva': 138,
         'Ivon': 138,
         'Lanell': 138,
         'Jai': 138,
         'Yolanda': 138,
         'Michale': 138,
         'May': 138,
         'Taron': 138,
         'August': 138,
         'Levi': 138,
         'Julio': 138,
         'Nicolas': 138,
         'Rolando': 138,
         'Jodi': 138,
         'Mikel': 138,
         'Eryn': 138,
         'David': 138,
         'Sherry': 138,
         'Jaleesa': 138,
         'Jaclyn': 138,
         'Trace': 138,
         'Tonnie': 138,
         'Barrett': 138,
         'Caleb': 138,
         'Lou': 138,
         'Amelia': 138,
         'Rowan': 138,
         'Nicola': 138,
         'Carolina': 138,
         'Infant': 138,
         'Khanh': 138,
         'Landon': 138,
         'Kaylon': 138,
         'Unique': 138,
         'Jarae': 138,
         'Berkeley': 138,
         'Amanda': 138,
         'Terrion': 138,
         'Trent': 138,
         'Shiloh': 138,
         'Dwayne': 138,
         'Alexandria': 138,
         'Arthur': 138,
         'Raymond': 138,
         'Jin': 138,
         'Mackenzi': 138,
         'Chase': 138,
         'Denver': 138,
         'Evelyn': 138,
         'Teal': 138,
         'Kourtney': 138,
         'Charlotte': 138,
         'Killian': 138,
         'Rashida': 138,
         'Yardley': 138,
         'Yu': 138,
         'Hillary': 138,
         'Kellin': 138,
         'Merrick': 138,
         'Phuong': 138,
         'Ivette': 138,
         'Zoe': 138,
         'Jamine': 138,
         'Rio': 138,
         'Jessey': 138,
         'Ellery': 138,
         'Kasey': 138,
         'Eugene': 138,
         'Heather': 138,
         'Houa': 138,
         'Regina': 138,
         'Kamron': 138,
         'John': 138,
         'Chane': 138,
         'Lindy': 138,
         'Dannie': 138,
         'Bela': 138,
         'Jamal': 138,
         'Arlin': 138,
         'Carey': 138,
         'Karina': 138,
         'Martina': 138,
         'Kally': 138,
         'Alexandre': 138,
         'Ayodele': 138,
         'Willie': 138,
         'Hollis': 138,
         'Deshay': 138,
         'Davonne': 138,
         'Sha': 138,
         'Torrey': 138,
         'Kelli': 138,
         'Bobbie': 138,
         'Victoria': 138,
         'Temple': 138,
         'Richard': 138,
         'Emmanuel': 138,
         'Damien': 138,
         'Maxwell': 138,
         'Valen': 138,
         'Clancy': 138,
         'Davin': 138,
         'Justice': 138,
         'Sol': 138,
         'Kathryn': 138,
         'Kagan': 138,
         'Ty': 138,
         'Joyce': 138,
         'Elias': 138,
         'Brandi': 138,
         'Seneca': 138,
         'Demetris': 138,
         'Quincey': 138,
         'Chaney': 138,
         'Madeline': 138,
         'Kiley': 138,
         'Kaycee': 138,
         'Imani': 138,
         'Sharon': 138,
         'Sierra': 138,
         'Brian': 138,
         'Blakely': 138,
         'Jerin': 138,
         'Seng': 138,
         'Graciela': 138,
         'Linda': 138,
         'Troi': 138,
         'Tamara': 138,
         'Kenley': 138,
         'Evin': 138,
         'Dominic': 138,
         'Erik': 138,
         'Troy': 138,
         'Errin': 138,
         'Teagan': 138,
         'Karlin': 138,
         'Taj': 138,
         'Tanisha': 138,
         'Nazareth': 138,
         'Lashun': 138,
         'Joelle': 138,
         'Jovon': 138,
         'Rickie': 138,
         'Corinthian': 138,
         'Enrique': 138,
         'Ying': 138,
         'Rachel': 138,
         'Dianna': 138,
         'Kendell': 138,
         'Lavelle': 138,
         'Lesley': 138,
         'Sammy': 138,
         'Shayne': 138,
         'Michal': 138,
         'Unknown': 138,
         'Mary': 138,
         'Dana': 138,
         'Samantha': 138,
         'Kerin': 138,
         'Raphael': 138,
         'Briana': 138,
         'Spencer': 138,
         'Aidan': 138,
         'Macon': 138,
         'Terri': 138,
         'Shaine': 138,
         'Zachery': 138,
         'Marlowe': 138,
         'Cari': 138,
         'Shanell': 138,
         'Tyree': 138,
         'Latoya': 138,
         'Jamel': 138,
         'Avion': 138,
         'Johnell': 138,
         'Stefanie': 138,
         'Darlene': 138,
         'Terin': 138,
         'Wayne': 138,
         'Kristian': 138,
         'Lai': 138,
         'Isaac': 138,
         'Elliot': 138,
         'Tanner': 138,
         'Terrin': 138,
         'Imari': 138,
         'Chantell': 138,
         'Jezreel': 138,
         'Byron': 138,
         'Leandra': 138,
         'Caroline': 138,
         'Tracy': 138,
         'Diana': 138,
         'Talin': 138,
         'Omar': 138,
         'Kegan': 138,
         'Shaquita': 138,
         'Cruz': 138,
         'Brianna': 138,
         'Shadoe': 138,
         'Sean': 138,
         'Kay': 138,
         'Jocelyn': 138,
         'Juan': 138,
         'Janelle': 138,
         'Marcos': 138,
         'Janae': 138,
         'Reilly': 138,
         'Francisco': 138,
         'Prentice': 138,
         'Robert': 138,
         'Jacky': 138,
         'Romelle': 138,
         'Clark': 138,
         'Amy': 138,
         'Averill': 138,
         'Nour': 138,
         'Marty': 138,
         'Raven': 138,
         'Aryn': 138,
         'Ayana': 138,
         'Leighton': 138,
         'Donyell': 138,
         'Trisha': 138,
         'Elisa': 138,
         'Ikea': 138,
         'Kyler': 138,
         'Song': 138,
         'Kierra': 138,
         'Shelley': 138,
         'Kolby': 138,
         'Sherron': 138,
         'Caitlyn': 138,
         'Micha': 138,
         'Nana': 138,
         'Desmond': 138,
         'Rochelle': 138,
         'Simon': 138,
         'Avery': 138,
         'Fatima': 138,
         'Marion': 138,
         'Sophie': 138,
         'Jovanni': 138,
         'Barbara': 138,
         'Mickel': 138,
         'Kerby': 138,
         'Donsha': 138,
         'Storm': 138,
         'Dyan': 138,
         'Santiago': 138,
         'Daven': 138,
         'Noemi': 138,
         'Jayce': 138,
         'Cristal': 138,
         'Sydney': 138,
         'Geraldine': 138,
         'Bailey': 138,
         'Dann': 138,
         'Haley': 138,
         'Mitchelle': 138,
         'Kellie': 138,
         'Von': 138,
         'Kalan': 138,
         'Tanya': 138,
         'Leonard': 138,
         'Dru': 138,
         'Deante': 138,
         'Joe': 138,
         'Coby': 138,
         'Aren': 138,
         'Princess': 138,
         'Kenyatta': 138,
         'Heriberto': 138,
         'Krishna': 138,
         'Nou': 138,
         'Toni': 138,
         'Jesus': 138,
         'Kacee': 138,
         'Christina': 138,
         'Danny': 138,
         'Jacquel': 138,
         'Alexi': 138,
         'Emilie': 138,
         'Che': 138,
         'Zachary': 138,
         'Elliott': 138,
         'Guadalupe': 138,
         'Denis': 138,
         'Laurence': 138,
         'Doninique': 138,
         'Marquise': 138,
         'Teresa': 138,
         'Griselda': 138,
         'Jordin': 138,
         'Maika': 138,
         'Karla': 138,
         'Rhyan': 138,
         'Jonnie': 138,
         'Aarion': 138,
         'Jordyn': 138,
         'Jamaria': 138,
         'Derek': 138,
         'Martin': 138,
         'Corin': 138,
         'Bayley': 138,
         'Daniela': 138,
         'Arturo': 138,
         'Katlyn': 138,
         'Donna': 138,
         'Jordan': 138,
         'Harold': 138,
         'Mychal': 138,
         'Shaun': 138,
         'Tate': 138,
         'Tristan': 138,
         'Sung': 138,
         'Alika': 138,
         'Chaz': 138,
         'Neema': 138,
         'Jazmin': 138,
         'Cameran': 138,
         'Paige': 138,
         'Kareen': 138,
         'Isabel': 138,
         'Channy': 138,
         'Annie': 138,
         'Samon': 138,
         'Randee': 138,
         'Walter': 138,
         'Judith': 138,
         'Kayce': 138,
         'Dior': 138,
         'Diamon': 138,
         'Ji': 138,
         'Derrick': 138,
         'Jessie': 138,
         'Clara': 138,
         'Carmen': 138,
         'Erika': 138,
         'Merle': 138,
         'Sammie': 138,
         'Terran': 138,
         'Tayler': 138,
         'Ryland': 138,
         'Shawne': 138,
         'Carrie': 138,
         'Jerae': 138,
         'Amani': 138,
         'Vandy': 138,
         'Shaina': 138,
         'Alix': 138,
         'Ronell': 138,
         'Daniele': 138,
         'Misael': 138,
         'Marcelle': 138,
         'Tobi': 138,
         'Rashon': 138,
         'Jory': 138,
         'Kalei': 138,
         'Royal': 138,
         'Chancy': 138,
         'Shavon': 138,
         'Hanna': 138,
         'Tyshawn': 138,
         'Kamryn': 138,
         'Joseph': 138,
         'Carley': 138,
         'Martha': 138,
         'Tiera': 138,
         'Deon': 138,
         'Auburn': 138,
         'Ora': 138,
         'Tracie': 138,
         'Rebekah': 138,
         'Paul': 138,
         'Rian': 138,
         'Issa': 138,
         'Jovi': 138,
         'Erinn': 138,
         'Raynell': 138,
         'Darius': 138,
         'Shade': 138,
         'Brittin': 138,
         'Hong': 138,
         'Justin': 138,
         'Nathalie': 138,
         'Merrill': 138,
         'Parrish': 138,
         'Marquita': 138,
         'Marin': 138,
         'Codi': 138,
         'Ethan': 138,
         'Sonia': 138,
         'Scotti': 138,
         'Nikola': 138,
         'Timmie': 138,
         'Cara': 138,
         'Devine': 138,
         'Joshua': 138,
         'Koree': 138,
         'Jasman': 138,
         'James': 138,
         'Jenifer': 138,
         'Kevon': 138,
         'Stefan': 138,
         'Mickael': 138,
         'Ryen': 138,
         'Ashlin': 138,
         'Connor': 138,
         'Sonny': 138,
         'Miko': 138,
         'Arlene': 138,
         'Harley': 138,
         'Jazzman': 138,
         'Kensley': 138,
         'Javier': 138,
         'Carmine': 138,
         'Javonte': 138,
         'Tatum': 138,
         'Brandon': 138,
         'Dusty': 138,
         'Emilio': 138,
         'Shaye': 138,
         'Dimitri': 138,
         'Dione': 138,
         'Zion': 138,
         'Max': 138,
         'Marquel': 138,
         'Aaren': 138,
         'Domingue': 138,
         'Sarah': 138,
         'Hector': 138,
         'Davis': 138,
         'Christain': 138,
         'Clayton': 138,
         'Dashawn': 138,
         'Freddie': 138,
         'Brynn': 138,
         'Clinton': 138,
         'Rikki': 138,
         'Maritza': 138,
         'Semaj': 138,
         'Codie': 138,
         'Alyx': 138,
         'Veronica': 138,
         'Albert': 138,
         'Demetria': 138,
         'Ravon': 138,
         'Noam': 138,
         'Jourdan': 138,
         'Tommie': 138,
         'Alisha': 138,
         'Thao': 138,
         'Ryan': 138,
         'Mariel': 138,
         'Jonte': 138,
         'Mario': 138,
         'Roman': 138,
         'Dulce': 138,
         'Arie': 138,
         'Torry': 138,
         'Martice': 138,
         'Armani': 138,
         'Shaheen': 138,
         'Cullen': 138,
         'Frank': 138,
         'Shelby': 138,
         'Marisa': 138,
         'Blair': 138,
         'Margaret': 138,
         'Marian': 138,
         'Cheyenne': 138,
         'Dandrea': 138,
         'Catherine': 138,
         'Joanna': 138,
         'Cory': 138,
         'Antonio': 138,
         'Carman': 138,
         'Shaka': 138,
         'Clarissa': 138,
         'Ricci': 138,
         'Ingrid': 138,
         'Kiante': 138,
         'Candace': 138,
         'Dina': 138,
         'Merlin': 138,
         'Thanh': 138,
         'Harper': 138,
         'Eden': 138,
         'Kodie': 138,
         'Meghan': 138,
         'Terryn': 138,
         'Nai': 138,
         'Danniel': 138,
         'Mitchel': 138,
         'Chloe': 138,
         'Sang': 138,
         'Ger': 138,
         'Kenzie': 138,
         'Marcedes': 138,
         'Nhia': 138,
         'Leticia': 138,
         'Drue': 138,
         'Lance': 138,
         'Saron': 138,
         'Shamel': 138,
         'Farrell': 138,
         'Aaryn': 138,
         'Adrien': 138,
         'Lily': 138,
         'Javon': 138,
         'Wesley': 138,
         'Cj': 138,
         'Cache': 138,
         'Esther': 138,
         'Katelynn': 138,
         'Jan': 138,
         'Kara': 138,
         'Maxie': 138,
         'Milan': 138,
         'Kalyn': 138,
         'Alison': 138,
         'Dresden': 138,
         'Daryn': 138,
         'Sage': 138,
         'Bret': 138,

In [219]:
s

Jami         138
Dominick     138
Beryl        138
Monet        138
Simeon       138
Nova         138
Kelby        138
Christen     138
Hayden       138
Whitley      138
Antonia      138
Natale       138
Brennan      138
Houston      138
Trinidad     138
Mallory      138
Timothy      138
Kelechi      138
Lucy         138
Young        138
Kristan      138
Camerin      138
Ivory        138
Tiara        138
Charlie      138
Jovani       138
Taren        138
Chesley      138
Dany         138
Valentine    138
            ...
Kenisha      138
Tonie        138
Hien         138
Saul         138
Lyn          138
Louis        138
Inez         138
Darrell      138
Shalom       138
Kinsey       138
Marlon       138
Milton       138
Breon        138
Mical        138
Fabian       138
Deanna       138
Santos       138
Adrian       138
My           138
Marcus       138
Royce        138
Mia          138
Darcy        138
Tramaine     138
Hilary       138
Ismael       138
Shanon       138
Jerome       138
Anne         138
Karel        138
Length: 2152, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1924665 entries, 0 to 1924664
Data columns (total 4 columns):
Name      object
Sex       object
Number    object
Year      object
dtypes: object(4)
memory usage: 58.7+ MB

In [15]:
import dask.dataframe as dd

df = dd.read_csv('./data/names_df.csv')

In [17]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 4 entries, Name to Year
dtypes: object(4)

## Machine learning exercise

Design and create a machine learning model that classifies a name as either male or female based on the characteristics of the name. Write up a report with screenshots in a text document or Jupyter notebook that describes the following:

•	the input data and its quality

•	any data exploration and any interesting insights

•	any preprocessing or cleaning of the data that was needed, including how you chose to label the data (i.e., how you labeled a name male or female as the ground truth for the model)

•	the features used by your model and why you chose them

•	your selection of machine learning algorithm and why it was chosen

•	the accuracy of your model and any relevant metrics that describe model performance

•	any model parameter tuning used to improve performance

•	any relevant discussion, model interpretation, future steps, or further exploration needed

In addition, prepare a short slideshow presentation (~10 min.) of an overview of the machine learning exercise. You will present this to the analytics team.
There are no restrictions on the classification model that you use; however, be sure to keep in mind your ability to adequately explain and interpret the results.
Good luck!